:root{ /* Reference - https://colorswall.com/palette/193 */
    --hue-high-black: #171a21;
    --hue-black: #222430;
    --hue-dark-blue: #1b2838;
    --hue-soft-dark-blue: #2a475e;
    --hue-light-blue: #66c0f4;
    --hue-white: #c7d5e0;
}